section.large code {
    max-height: none;
}

table.browser-compat {
    width: 100%;
}

table.browser-compat td {
    text-align: center;
    width: 160px;
    vertical-align: middle;
}

table.browser-compat img {
    border: none;
    background: none;
    box-shadow: none;
}